{% extends "layout.html" %}

{% block main %}

    <form action="/sell" method="post">
        <select name="symbol">
            <option disabled selected>Select Stock Symbol</option>
            {% for stock in stocks %}

                <option value="{{ stock }}">{{ stock }}</option>

            {% endfor %}
        </select>
        <input type="text" name="shares" placeholder="Number of shares to sell" autocomplete="off">
        <button type="submit">Submit</button>
    </form>

{% endblock %}
